.container {
    display: grid;
    grid-template-columns: 30%;
}

.tarea-container {
    padding-left: 10px;
    background-color: #384554;
    color: #a195ba;
}

.tareas {
    background-color: #56686e;
    color: white;
    text-align: justify;
}

.tarea {
    background-color: #86a6a1;
    height: auto;
    color: black;
}

.tarea-options {
    padding: 5px;
    display: flex;
    gap: 10px;
}

.tarea-completada {
    text-decoration: line-through;
    background-color: #86a6a1;
    color: red;
}

.subtarea {
    background-color: #56686e;
}

.subtarea-completada {
    background-color: #56686e;
    text-decoration: line-through;
    color: black;
}