.board-container {
    display: flex;
    align-items: center;

}

.todo {
    padding-left: 10px;
    background-color: #474d4caf;
}

.todo-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

.todo-content {
    background-color: #04a0fa2d;
}

.todo-options {
    display: flex;
    gap: 10px;
}


.todo-complete {
    color: red;
    text-decoration: line-through;
}

.subtodo-complete {
    color: black;
    text-decoration: line-through;
}