/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

} */

.tareas {
    background-color: #56686e;
    color: white;
    text-align: justify;
}

.tarea {
    font-size: 18px;
    background-color: #86a6a1;
    color: black;
}

.tarea-options {
    display: flex;
    gap: 10px;
}